<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="visit.css">
    <title>Visit</title>
</head>
<body>
 <div class="container">
    <form>

      <label for="visit_time">وقت ویزیت:</label>
      <input type="text" id="visit_time" name="visit_time">


      <label for="duration">مدت زمان:</label>
      <input type="text" id="duration" name="duration">


      <label for="payment">مبلغ ویزیت:</label>
      <input type="text" id="payment" name="payment">


      <label for="patient_id">شناسه بیمار:</label>
      <input type="number" id="patient_id" name="patient_id">

      <label for="patient_id">شناسه دکتر:</label>
      <input type="number" id="doctor_id" name="patient_id">

      <input type="submit" value="ارسال">
    </form>

    <table>
      <thead>
        <tr>
          <th>وقت ویزیت</th>
          <th>مدت زمان</th>
          <th>مبلغ ویزیت</th>
          <th>شناسه بیمار</th>
          <th>شناسه دکتر</th>

        </tr>
      </thead>
      <tbody>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      </tbody>
    </table>
  </div>
</body>
</html>