<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="med_service.css">
    <title>Medical service</title>
</head>
<body>
 <div class="container">
    <form id="dataForm">
      <label for="title">عنوان:</label>
      <input type="text" id="title" name="title">

      <label for="description">توضیحات:</label>
      <input type="text" id="description" name="description">


      <button type="button" onclick="addRow()">ارسال</button>
    </form>

    <table id="dataTable">
      <thead>
        <tr>
             <th>شماره</th>
          <th>عنوان</th>
          <th>توضیحات</th>
        </tr>
      </thead>
      <tbody>



      </tbody>
    </table>
  </div>
<script src="../doctor_ui/save_button.js"></script>

</body>
</html>