<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="assets/css/signup.css">
    <title>signup page</title>
</head>
<body>
 <div class="signup-container">
    <form class="signup-form">
      <label for="name">نام:</label>
        <input type="text" id="name" name="name">

        <label for="family">نام خانوادگی:</label>
        <input type="text" id="family" name="family">

        <label for="national_id">کد ملی:</label>
        <input type="text" id="national_id" name="national_id">

        <label for="date_birth">تاریخ تولد:</label>
        <input type="date" id="date_birth" name="date_birth">

        <label for="phone_number">شماره تلفن:</label>
        <input type="tel" id="phone_number" name="phone_number">

        <label for="username">نام کاربری:</label>
        <input type="text" id="username" name="username">

        <label for="password">رمز عبور:</label>
        <input type="password" id="password" name="password">
        <a href="signup.html"> حساب کاربری دارید؟ ورود</a>

      <button type="submit">ساخت حساب کاربری</button>
    </form>
  </div>

</body>
</html>