<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
    <title>Patient</title>
</head>
<body>

<div class="container">
    <h1>Edit timing</h1>
    <form id="dataForm">

        <label for="date">تاریخ :</label>
        <input type="date" id="date" name="date" value="{{timing.timing_date}}">

        <label for="start_time">ساعت شروع:</label>
        <input type="time" id="start_time" name="start_time"  value="{{timing.start_time}}" required>

        <label for="end_time">ساعت پایان:</label>
        <input type="time" id="end_time" name="end_time" value="{{timing.end_time}}" required>
    </form>
    <button onclick="edit()">ویرایش</button>

</div>
<script>
    function edit() {
        const form = document.getElementById("dataForm");
        fetch("/timing", {
            method: "PUT",
            body: JSON.stringify(new FormData(form))
        })
    }
</script>


</body>
</html>