<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timing.css') }}">
    <title>Timing</title>
</head>
<body>
<div class="container">
    <form id="dataForm" action="/timing" method="post">
        <select>
            {% for doctor in doctor_list %}
            <option value={{doctor.id}} id="doctor" name="doctor">
                {{doctor.name}} {{doctor.family}}
            </option>
            {% endfor %}
        </select>
        <label for="timing_date">تاریخ :</label>
        <input type="date" id="timing_date" name="timing_date">

        <label for="start_time">ساعت شروع:</label>
        <input type="time" id="start_time" name="start_time" required>

        <label for="end_time">ساعت پایان:</label>
        <input type="time" id="end_time" name="end_time" required>


        <button type="submit">ذخیره</button>
    </form>

    <table id="dataTable">
        <thead>
        <tr>
            <th>شماره</th>
            <th>دکتر</th>
            <th>تاریخ</th>
            <th>ساعت شروع</th>
            <th>ساعت پایان</th>
            <th>عملیات</th>

        </tr>
        </thead>
        <tbody>
        {% for timing in timing_list %}

        <tr>
            <td>{{timing.id}}</td>
            <td>{{timing.doctor_id}}</td>
            <td>{{timing.timing_date}}</td>
            <td>{{timing.start_time}}</td>
            <td>{{timing.end_time}}</td>

            <td>
                <button onclick="edit({{timing.id}})">Edit</button>
                <button onclick="remove({{timing.id}})">Remove</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>

    function edit(id) {
        window.location.replace("/timing/" + id);
    }

    function remove(id) {
        fetch("/timing?id=" + id, {
            method: "DELETE"
        }).then(() => {
            window.location.replace("/timing");
        })
    }
</script>

</body>
</html>