<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visit.css') }}">
    <title>Visit</title>
</head>
<body>
<div class="container">
    <form id="dataForm" action="/visit" method="post">
        <select name="doctor_id">

            {% for doctor in doctor_list %}
            <option value={{doctor.id}}>
                {{doctor.name}} {{doctor.family}}
            </option>
            {% endfor %}

        </select>
        <select name="doctor_time">
            {% for doctor_time in doctor_list %}
            <option value={{doctor_time.id}}>
                {{doctor_time.name}} {{doctor_time.family}}
            </option>
            {% endfor %}
        </select>
        <label for="doctor">دکتر:</label>
        <input type="text" id="doctor" name="doctor" value="tets" readonly>

        <label for="time">زمان ویزیت:</label>
        <input type="text" id="time" name="time" value="test time" readonly>
        <label for="visit_time">وقت ویزیت:</label>
        <input type="time" id="visit_time" name="visit_time">

        <label for="time_id">شناسه تایم:</label>
        <input type="text" id="time_id" name="timing_id">

        <label for="duration">مدت زمان:</label>
        <input type="text" id="duration" name="duration">


        <label for="payment">مبلغ ویزیت:</label>
        <input type="number" id="payment" name="payment">


        <!--      <label for="patient_id">شناسه بیمار:</label>-->
        <!--      <input type="number" id="patient_id" name="patient_id" min="1" step="1" inputmode="numeric">-->


        <!--      <label for="patient_id">شناسه دکتر:</label>-->
        <!--      <input type="number" id="doctor_id" name="patient_id" min="1" step="1" inputmode="numeric">-->

        <button type=submit name="submit">ارسال</button>
    </form>

    <table id="dataTable">
        <thead>
        <tr>
            <th>شماره</th>
            <th>وقت ویزیت</th>
            <th>مدت زمان</th>
            <th>مبلغ ویزیت</th>
            <th>عملیات</th>
            <!--          <th>شناسه دکتر</th>-->
        </tr>
        </thead>
        <tbody>
        {% for visit in visit_list %}
        <tr>
            <td>{{visit.id}}</td>
            <td>{{visit.visit_time}}</td>
            <td>{{visit.duration}}</td>
            <td>{{visit.payment}}</td>

            <td>
                <button onclick="edit({{visit.id}})">Edit</button>
                <button onclick="remove({{visit.id}})">Remove</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>

    function edit(id) {
        window.location.replace("/visit/" + id);
    }

    function remove(id) {
        fetch("/visit?id=" + id, {
            method: "DELETE"
        }).then(() => {
            window.location.replace("/visit");
        })
    }
</script>

</body>
</html>